node_modules
npm-debug.log
.git
.gitignore
README.md
.env
.env.local
.env.testing
.nyc_output
coverage
.cache
.parcel-cache
.DS_Store
.vscode
.next
Dockerfile*
docker-compose*
.dockerignore
.env.example